@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --body-font: "Rubik", "Roboto", sans-serif;
  --text-color: #000;
  --background: #fff;
  --roleColor: #8c4ade;
  --gallery-link: rgb(139, 139, 139);
  color-scheme: light dark;
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: var(--body-font);
  margin: 0;
  background: var(--background);
}

/* ---------------------------------------------------------------------- */
/* STYLING NAVBAR */
.nav-container {
  padding: 8px 30px;
  margin: 0 auto;
}

.left {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 90px;
  height: 90px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.mobile-logo {
  display: none;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-color);
}

.mainMenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.3043rem;
  transition: all 300ms ease;
}

.nav-links a {
  color: var(--text-color);
  position: relative;
}

.nav-links a:after {
  content: "";
  position: absolute;
  background-color: var(--text-color);
  border-radius: 2px;
  height: 2px;
  width: 0;
  left: 2px;
  bottom: -8px;
  transition: 0.3s;
}

.nav-links:hover a::after {
  width: 94%;
}

.theme {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
}

.openMenu {
  display: none;
  cursor: pointer;
  align-items: center;
}

.openMenu-icon,
.closeMenu-icon {
  font-size: 2.6086rem;
  color: var(--text-color);
  border: none;
  background: transparent;
}

.closeMenu {
  display: none;
  cursor: pointer;
}

.sun,
.moon {
  padding: 6px 5px;
  cursor: pointer;
  font-size: 1.75rem;
}

.moon {
  color: #000;
}

.sun {
  display: none;
  color: #fff;
}

/* ENd NAVBAR */
/* ---------------------------------------------------------------------- */
/* MAKING NAVBAR RESPONSIVE */
@media (max-width: 800px) {
  .nav-container {
    padding: 6px 10px;
  }

  .logo,
  .mobile-logo {
    width: 90px;
    height: 90px;
  }

  .mobile-logo {
    display: block;
    position: absolute;
    top: 6px;
    left: 10px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .mainMenu {
    transition: height 500ms ease;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0px;
    left: 0px;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--background);
  }

  li {
    font-size: 1.957rem;
    margin: 8px;
  }

  .open {
    height: 100vh;
  }

  .closeMenu {
    display: block;
    position: absolute;
    top: 35px;
    right: 20px;
  }

  .openMenu {
    display: flex;
  }
  .mobile-theme {
    display: none;
  }
}

@media (max-width: 570px) {
  .nav-container {
    padding: 8px 10px;
  }
  .logo {
    width: 90px;
    height: 90px;
  }
  .logo-text {
    display: none;
  }

  .openMenu-icon,
  .closeMenu-icon {
    font-size: 2.28rem;
  }
}

/* END OF NAVBAR RESPONSIVE */
/* ---------------------------------------------------------------------- */
.gallery-heading {
  font-size: 2rem;
  color: var(--text-color);
  text-align: center;
  font-weight: 500;
  margin: 1rem auto;
}
/* GALLERY */

.splide {
  margin: 0 auto 50px auto;
  aspect-ratio: 5 / 3;
  max-width: 60vw;
  max-height: 650px;
  padding: 20px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

.splide__slide {
  display: grid;
  grid-template-columns: 40% 50%;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  justify-content: center;
}

.slider-img {
  padding: 10px;
  width: 75%;

  img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 20px;
  }
}

.splide__pagination__page.is-active {
  background-color: #555bd9;
}

.splide__pagination {
  bottom: -1.5rem;
}

.splide__arrow {
  display: none;
}

/* END OF GALLERY */
/* ---------------------------------------------------------------------- */
/* CREDITS */
.credit {
  text-align: center;
  font-size: 0.976rem;
  color: var(--text-color);
}

.fa-heart {
  color: red;
  font-size: 0.976rem;
}

.link {
  color: var(--text-color);
  border-bottom: 1px none var(--text-color);
  transition: all 300ms ease;
}

.link:hover {
  color: blue;
}

.pulse {
  animation: pulse 1s linear infinite;
}
/* Heart beat animation */
@keyframes pulse {
  0%,
  100% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.8);
  }
}
/* END OF CREDITS */
/* ------------------------------------------------------------------------ */
