@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --body-font: "Rubik", "Roboto", sans-serif;
  --text-color: #000;
  --background: #fff;
  --bullet-pagintation-color: #fff;
  color-scheme: light dark;
}

html {
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: var(--body-font);
  margin: 0;
  background: var(--background);
}

/* ---------------------------------------------------------------------- */
/* STYLING NAVBAR */
.nav-container {
  padding: 0px 30px;
  margin: 0 auto;
}

.left {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 90px;
  height: 90px;

  img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.mobile-logo {
  display: none;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-color);
}

.mainMenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links {
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.3043rem;
  transition: all 300ms ease;
}

.nav-links a {
  color: var(--text-color);
  position: relative;
}

.nav-links a:after {
  content: "";
  position: absolute;
  background-color: var(--text-color);
  border-radius: 2px;
  height: 2px;
  width: 0;
  left: 2px;
  bottom: -8px;
  transition: 0.3s;
}

.nav-links:hover a::after {
  width: 94%;
}

.theme {
  background: transparent;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  transition: all 200ms ease;
}

@media (min-width: 800px) {
  .theme:hover {
    background: #9190904d;
  }
}

.openMenu {
  display: none;
  cursor: pointer;
  align-items: center;
}

.openMenu-icon,
.closeMenu-icon {
  font-size: 2.6086rem;
  color: var(--text-color);
  border: none;
  background: transparent;
  cursor: pointer;
}

.closeMenu {
  display: none;
}

.sun,
.moon {
  padding: 6px 6px;
  cursor: pointer;
  font-size: 1.75rem;
}

.moon {
  color: #000;
}

.sun {
  display: none;
  color: #fff;
}

/* ENd NAVBAR */
/* ---------------------------------------------------------------------- */
/* MAKING NAVBAR RESPONSIVE */
@media (max-width: 800px) {
  .nav-container {
    padding: 6px 10px;
  }

  .logo,
  .mobile-logo {
    width: 90px;
    height: 90px;
  }

  .mobile-logo {
    display: block;
    position: absolute;
    top: 6px;
    left: 10px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .mainMenu {
    transition: height 500ms ease;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0px;
    left: 0px;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--background);
  }

  li {
    font-size: 1.957rem;
    margin: 8px;
  }

  .open {
    height: 100vh;
  }

  .closeMenu {
    display: block;
    position: absolute;
    top: 35px;
    right: 20px;
  }

  .openMenu {
    display: flex;
  }
  .mobile-theme {
    display: none;
  }
}

@media (max-width: 570px) {
  .nav-container {
    padding: 8px 10px;
  }
  .logo {
    width: 90px;
    height: 90px;
  }
  .logo-text {
    display: none;
  }

  .openMenu-icon,
  .closeMenu-icon {
    font-size: 2.28rem;
  }
}

/* END OF NAVBAR RESPONSIVE */
/* ---------------------------------------------------------------------- */
.gallery-heading {
  font-size: 2rem;
  color: var(--text-color);
  text-align: center;
  font-weight: 500;
  margin: 1rem auto;
}
/* GALLERY */
.swiper {
  width: 80vw;
  margin-bottom: 20px;
}

.swiper-slide {
  scale: 0.75;
  min-width: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.swiper-slide-active {
  scale: 1;
}

.swiper-slide-next,
.swiper-slide-prev {
  scale: 0.875;
}

.swiper-slide img {
  border-radius: 2px;
  width: 100%;
  max-height: 550px;
  min-height: 400px;
  object-fit: fill;
  -o-object-fit: fill;
}

.swiper-pagination {
  position: relative;
}

.swiper-pagination-bullet-active {
  scale: 1.25;
  background: #007aff !important;
}

.swiper-pagination-bullet {
  background: var(--bullet-pagintation-color);
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 25px;
}

/* END OF GALLERY */
/* ---------------------------------------------------------------------- */
/* RESPONSIVE GALLERY */
@media (max-width: 800px) {
  .gallery-heading {
    font-size: 1.75rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

@media (max-width: 600px) {
  .gallery-heading {
    font-size: 1.4rem;
  }
}

@media (max-width: 500px) {
  .swiper-slide img {
    max-height: 85vh;
  }
}

@media (max-width: 400px) {
  .swiper-slide img {
    border-radius: 8px;
  }
}
/* END OF RESPONSIVE GALLERY */
/* ---------------------------------------------------------------------- */
/* CREDITS */
.credit {
  text-align: center;
  font-size: 0.976rem;
  color: var(--text-color);
}

.fa-heart {
  color: red;
  font-size: 0.976rem;
}

.link {
  color: var(--text-color);
  border-bottom: 1px none var(--text-color);
  transition: all 300ms ease;
}

.link:hover {
  color: blue;
}

.pulse {
  -webkit-animation: pulse 1s linear infinite;
  animation: pulse 1s linear infinite;
}
/* Heart beat animation */
@-webkit-keyframes pulse {
  0%,
  100% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.8);
  }
}
@keyframes pulse {
  0%,
  100% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.8);
  }
}
/* END OF CREDITS */
/* ------------------------------------------------------------------------ */
